wsdl/fetchPrice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cubastion.net/xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://cubastion.net/xml" xmlns:xsd1="http://cubastion.net/fetchPrice">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://cubastion.net/xml">
			<xsd:import namespace="http://cubastion.net/fetchPrice" />
			<xsd:element name="fetchPriceInput">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="bookingId" type="xsd:string"/>
						<xsd:element name="bookingDate" type="xsd:date"/>
						<xsd:element ref="xsd1:ListOfItems"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="fetchPriceOutput">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="bookingId" type="xsd:string"/>
						<xsd:element ref="xsd1:ListOfItems"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://cubastion.net/fetchPrice">
			<xsd:element name="ListOfItems" type="xsd1:ListOfItems"/>
			<xsd:complexType name="ListOfItems">
				<xsd:sequence>
					<xsd:element name="items" maxOccurs="unbounded" minOccurs="1" type="xsd1:Items"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Items">
				<xsd:sequence>
					<xsd:element name="productName" type="xsd:string"/>
					<xsd:element name="unitPrice" type="xsd:double"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="FetchPriceRequest">
		<wsdl:part name="fetchPriceRequest" element="tns:fetchPriceInput"/>
	</wsdl:message>
	<wsdl:message name="FetchPriceResponse">
		<wsdl:part name="fetchPriceResponse" element="tns:fetchPriceOutput"/>
	</wsdl:message>
	<wsdl:portType name="FetchPricePortType">
		<wsdl:operation name="FetchPrice_Operation">
			<wsdl:input message="tns:FetchPriceRequest"/>
			<wsdl:output message="tns:FetchPriceResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="FetchPrice_Binding" type="tns:FetchPricePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="FetchPrice_Operation">
			<soap:operation soapAction="http://cubastion.net/xml/FetchPrice_Operation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="FetchPrice_Service">
		<wsdl:port name="FetchPrice_Port" binding="tns:FetchPrice_Binding">
			<soap:address location="http://trnwebservice.cubastion.net/api/v1/soap/fetchPrice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
