wsdl/submitHealthPolicy.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cubastion.net/xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://cubastion.net/xml" xmlns:xsd1="http://cubastion.net/submitHealthPolicy/in" xmlns:xsd2="http://cubastion.net/submitHealthPolicy/out">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://cubastion.net/xml">
			<xsd:import namespace="http://cubastion.net/submitHealthPolicy/in" />
			<xsd:import namespace="http://cubastion.net/submitHealthPolicy/out" />
			<xsd:element name="submitHealthPolicyInput">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="integrationId" type="xsd:string"/>
						<xsd:element name="inceptionDate" type="xsd:date"/>
						<xsd:element name="expirationDate" type="xsd:date"/>
						<xsd:element name="accountName" type="xsd:string"/>
						<xsd:element name="currencyCode" type="xsd:string"/>
						<xsd:element name="sumInsured" type="xsd:double"/>
						<xsd:element name="discountAmount" type="xsd:double"/>
						<xsd:element name="gstAmount" type="xsd:double"/>
						<xsd:element name="netPremiumPayable" type="xsd:double"/>
						<xsd:element ref="xsd1:ListOfInsuredInput"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="submitHealthPolicyOutput">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="integrationId" type="xsd:string"/>
						<xsd:element name="policyNumber" type="xsd:string"/>
						<xsd:element ref="xsd2:ListOfInsuredOutput"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://cubastion.net/submitHealthPolicy/in">
			<xsd:element name="ListOfInsuredInput" type="xsd1:ListOfInsuredInput"/>
			<xsd:complexType name="ListOfInsuredInput">
				<xsd:sequence>
					<xsd:element name="insured" maxOccurs="unbounded" minOccurs="1" type="xsd1:InsuredInput"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="InsuredInput">
				<xsd:sequence>
					<xsd:element name="integrationId" type="xsd:string"/>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="phone" type="xsd:string"/>
					<xsd:element name="email" type="xsd:string"/>
					<xsd:element name="age" type="xsd:int"/>
					<xsd:element name="currencyCode" type="xsd:string"/>
					<xsd:element name="sumInsured" type="xsd:double"/>
					<xsd:element name="premium" type="xsd:double"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://cubastion.net/submitHealthPolicy/out">
			<xsd:element name="ListOfInsuredOutput" type="xsd2:ListOfInsuredOutput"/>
			<xsd:complexType name="ListOfInsuredOutput">
				<xsd:sequence>
					<xsd:element name="insured" maxOccurs="unbounded" minOccurs="1" type="xsd2:insuredOutput"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="insuredOutput">
				<xsd:sequence>
					<xsd:element name="integrationId" type="xsd:string"/>
					<xsd:element name="insuredNumber" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="SubmitHealthPolicyRequest">
		<wsdl:part name="SubmitHealthPolicyRequest" element="tns:submitHealthPolicyInput"/>
	</wsdl:message>
	<wsdl:message name="SubmitHealthPolicyResponse">
		<wsdl:part name="SubmitHealthPolicyResponse" element="tns:submitHealthPolicyOutput"/>
	</wsdl:message>
	<wsdl:portType name="SubmitHealthPolicyPortType">
		<wsdl:operation name="SubmitHealthPolicy_Operation">
			<wsdl:input message="tns:SubmitHealthPolicyRequest"/>
			<wsdl:output message="tns:SubmitHealthPolicyResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SubmitHealthPolicy_Binding" type="tns:SubmitHealthPolicyPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="SubmitHealthPolicy_Operation">
			<soap:operation soapAction="http://cubastion.net/xml/SubmitHealthPolicy_Operation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SubmitHealthPolicy_Service">
		<wsdl:port name="SubmitHealthPolicy_Port" binding="tns:SubmitHealthPolicy_Binding">
			<soap:address location="http://trnwebservice.cubastion.net/api/v1/soap/submitHealthPolicy"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
