wsdl/validatePAN.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cubastion.net/xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://cubastion.net/xml">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://cubastion.net/xml">
			<xsd:element name="validatePANInput">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="panNumber" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="validatePANOutput">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="status_message" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ValidatePANRequest">
		<wsdl:part name="ValidatePANRequest" element="tns:validatePANInput"/>
	</wsdl:message>
	<wsdl:message name="ValidatePANResponse">
		<wsdl:part name="ValidatePANResponse" element="tns:validatePANOutput"/>
	</wsdl:message>
	<wsdl:portType name="ValidatePANPortType">
		<wsdl:operation name="ValidatePAN_Operation">
			<wsdl:input message="tns:ValidatePANRequest"/>
			<wsdl:output message="tns:ValidatePANResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ValidatePAN_Binding" type="tns:ValidatePANPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ValidatePAN_Operation">
			<soap:operation soapAction="http://cubastion.net/xml/ValidatePAN_Operation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ValidatePAN_Service">
		<wsdl:port name="ValidatePAN_Port" binding="tns:ValidatePAN_Binding">
			<soap:address location="http://trnwebservice.cubastion.net/api/v1/soap/validatePAN"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
